/*Nav-bar settings for all pages*/ 
.nav-bar {
    padding: 5px;
    
    }
.navbar-nav {
        display:inline-flex;
        padding-left: 100px;
        padding-right: 10px;
    }

/*Ids for index's first image with headers */    
#first_image{
        max-width: 100%;
        height: auto;
        opacity: .5;
      }

.container-fluid {
    position: relative;
    text-align: center;
    color: black;
      }

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#img_h1{
    font-size: 60px ;
    font-weight: bolder;

  }     

#img_h2{
    font-size: 35px;
    text-shadow: currentColor;
    text-align: center
}
/*Normal headers for sections*/
    h1 {
        text-align: center;
        margin: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
         
    h2 {
        margin: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    h3 {
        text-align: center;
    }
    
    p {margin: 15px;
    
    }

    
.cards  {
    margin: 10px;
    padding: 15px;
}


    .links{
        color: gainsboro;
    }
    
.mapbox {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 600px;
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
    }
    

    .img-about { 
        border-radius: 40%;
    }

    #Mariana {
        size: 30px;
    }

/* SUBSCRIPTION */

.contacto {
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.contacto .titulo {
    color: #1a1c1d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.contacto .formulario input[type="text"]
.contacto .formulario input[type="email"]
.contacto .formulario textarea {
    padding: 15px;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.contacto .formulario textarea {
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.contacto .formulario .boton {
    background: #3da5e2;
    border: none;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Catamaran', sans-serif;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.contacto .formulario .boton:hover {
    background: #1ba0ef;
}

/* Contacto */

footer {
    font-family: 'Catamaran', sans-serif;
    padding: 5px 0;
    background: #1e1e1e;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
}