
#map {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 600px;
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
    }
    