<!---Start stating document type and language-->
<!DOCTYPE html>
<html lang="en">

<!--Link to bootstrap and css file to change formatting-->
<link rel="stylesheet" href="https://bootswatch.com/5/simplex/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<!---Create a header that has to do with the theme of the homework/webpage-->
<head>
  <meta charset="UTF-8">
  <title>Ecobici Analytics</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="https://img.icons8.com/material-sharp/35/000000/bike-path--v2.png">Ecobici</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="s_map">Station Map</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Visualizations
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="usage">Usage</a></li>
              <li><a class="dropdown-item" href="demographics">Demographics</a></li>
              <li><a class="dropdown-item" href='routes'>Routes</a></li>
            </ul>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About us</a>
        </li>
      </ul>
  
    </div>
  </div>
  </nav>
  
  <!---Put project title in -->
  <br>
 <h1>Data and Datasets</h1>
 <br>

 <!--Create our first container -->   
<div class = "container px-4">

 <!--Create our first row -->
  <div class = "row gx-5">

<!--Create our columns inside our rows-->
<div class = "mh col-sm-12 col-xs-12">
<h2>Data Sources</h2>
  <!--Close columns-->
</div>
<!--- Close row-->
  </div>

   <!--Create our second row -->
   <div class = "row gx-5">
    <!--Create the 3 cards of used datasets with links-->
    <!--Create 1st column-->
    <div class = "mh col-md-4 col-sm-6 col-xs-6">
      <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Ecobici Trips CSV files</div>
          <div class="card-body">
           <h4 class="card-title">Ecobici CSV files</h4>
            <p class="card-text">Historical archives of Ecobici usage in Mexico City. Year and Month files can be selected. <br>
            <a class="links" href="https://www.ecobici.cdmx.gob.mx/es/informacion-del-servicio/open-data">Link</a> </p>
        </div>
      </div>
      <!--Close 1st column-->
    </div>
         <!--Create 2nd column-->
    <div class = "mh col-md-4 col-sm-6 col-xs-6">
      <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Ecobici API</div>
          <div class="card-body">
           <h4 class="card-title">Ecobici API</h4>
            <p class="card-text"> API includes station name and location, as well as current bike availability.<br>
            <a class="links" href="https://www.ecobici.cdmx.gob.mx/es/informacion-del-servicio/open-data">Link</a> </p>
        </div>
      </div>
      <!--Close column-->
    </div>
     <!--Create 3rd column-->
     <div class = "mh col-md-4 col-sm-6 col-xs-6">
      <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Open Data Mexico City</div>
          <div class="card-body">
           <h4 class="card-title"> "Colonias" information</h4>
            <p class="card-text"> List of Mexico City's neighborhoods and geographical borders. <br>
            <a class="links" href="https://datos.cdmx.gob.mx/dataset/coloniascdmx">Link</a> </p>
        </div>
      </div>
      <!--Close 3rd column-->
    </div>
<!--Close second row--> 
</div>
<br>
<hr>
<br>

<!---Open disclaimer heading row-->
<div class ="row">
<h2> Data disclaimer</h2>
<!--Close disclaimer heading row-->
</div>
<div class="row">
<!--Opening of data disclaimer -->
<p>It is important to mention that in our analysis, we did the following: 
  <ul>
    <li>The data used in most of our analysis is related to trip number by day, and is not related to the users of the Ecobici service.</li>
    <li>The full datasets where not used. Out of 71 million trips, we had a sample of 710,000 trips.</li>
    <li>All stations were mapped.</li>
  </ul>
</p>
</div>
<br>
<hr>
<br>

<!---Open data ETL heading row-->
<div class ="row">
  <h2> ETL process</h2>
  <!--Close ETL  heading row-->
  </div>
  <div class="row">
  <!--Opening of data disclaimer -->
  <p>In the Extract, Transform and Load process we did the following: <br>
  
    <dl>
      <dt>Extract</dt>
       <dd>1. Different <strong>datasets </strong> concerning our topic were <strong>located </strong> in different webpages and <strong> downloaded</strong> .</dd>
        <dd>2. <strong>Historical data</strong> was downloaded in <strong>CSV</strong> format from the <strong>Ecobici website</strong>, <strong> one file per month </strong>.</dd>
        <dd>3. <strong>Data</strong> for each <strong>stations</strong> was downloaded using an <strong>the Ecobici API</strong> from their website.</dd>
        <dt>Transform<dt>
          <dd>1. A <strong>python</strong> script was written <strong>to unify all of the CSV files</strong> into one unified CSV file with 10 years of monthly data. This resulted in 71 million lines.</dd>
          <dd>2. A <strong>python</strong> script <strong>cleaned the data of anomalies</strong>.</dd>
          <dd>3. Given the size of the dataset, we <strong>created a subset of one in hundred</strong>, resulting in a <strong>sample of 710,000</strong> data points.</dd>
        <dt>Load</dt>
        <dd>1.<strong> Data was imported into Postgres</strong>.</dd>
        <dd>2.<strong> Queries</strong> regarding stations, general trips, routes and demographics </dd>
        <dd>3. Each <strong> query was parsed using flask and SQL alchemy</strong> and was <strong>fed into the webpage using D3</strong>.</dd>
    </dl>
  </p>
  </div>
  <br>
  <hr>
        <!--Table title row-->
        <div class="row">
          <br>
          <h2>Ecobici Data</h2>
          <br>
          <p>Some of the data used in this project can be consulted here, where information can be filtered by date.</p>
      
        <!--Close row for title-->
      </div>
        <div class="row margin-top-50">
          <div class="col-md-2">
            <aside class="filters">
              <div class="panel panel-default">
                <div class="panel-heading">Filter Search</div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <ul class="list-group" id="filters">
                        <li class="filter list-group-item">
                          <label for="date">Enter a Date</label>
                          <input class="form-control" id="date" type="text" placeholder="2010-02-01">
                        </li>
                      </ul>
                    </div>
                    <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                    <button id="reset-btn" type="button" class="btn btn-default">Reset</button>
                  </form>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-md-10">
            <div id="table-area" class="">
              <table id="bike-table" class="table table-striped">
                <thead>
                  <tr>
                    <th class="table-head">Trip Index</th>
                    <th class="table-head">Gender</th>
                    <th class="table-head">Age</th>
                    <th class="table-head">Start station</th>
                    <th class="table-head">End station</th>
                    <th class="table-head">Date</th>
                    <th class="table-head">Duration</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="static/js/data.json"></script> -->
    <script src="/static/js/data.js"></script>
  </body>
  
  </html>
  
  <footer class="row">
    <div class="col justify-content-center">
        <p>Ecobici | Gobierno de la Ciudad de México (2021). Retrived from https://www.ecobici.cdmx.gob.mx/</p>  
    </div>
  </footer>
</body>
</html>
