<!---Start stating document type and language-->
<!DOCTYPE html>
<html lang="en">

<!--Link to bootstrap and css file to change formatting-->
<link rel="stylesheet" href="https://bootswatch.com/5/simplex/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<!---Create a header that has to do with the theme of the homework/webpage-->

<head>
  <meta charset="UTF-8">
  <title>Ecobici Analytics</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"> <img
          src="https://img.icons8.com/material-sharp/35/000000/bike-path--v2.png">Ecobici</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="s_map">Station Map</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Visualizations
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="usage">Usage</a></li>
              <li><a class="dropdown-item" href="demographics">Demographics</a></li>
              <li><a class="dropdown-item" href='routes'>Routes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About us</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <!---Put project title in -->
  <br>
  <h1>Ecobici Users</h1>
  <br>

  <!--Create our first container -->
  <div class="container px-4">

    <!--Create our first row -->
    <div class="row gx-5">

      <p>Note: This project used a random sample of the total rides data that represents 1% of the full dataset. Therefore, number presented below are approximate projections of the sample subset.</p>
      <!--Create our columns inside our rows-->
      <div id="gender"></div>
      
    </div>

    <!--Create our first row -->
    <div class="row gx-5">

      <!--Create our columns inside our rows-->
      <div id="scatter"></div>
 
    </div>

    <div class="container">
      <div class="row">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Conclusions (Total Number of trips by age and gender)
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <strong>What we observed in this graph was the following:</strong>
            <ul>
              <li>In all age groups there are more trips where men were riders than where women were riders.</li>
              <li>Most Ecobici users belong to the 20-29 and to the 30-39 age groups, where both of these groups pass the 25M mark.</li>
              <li>Comparing these two groups, more trips where made by women in the 20-29 years group than in the 30-39 years group.</li>
              <li>The groups that made the least trips are both the, outliers, the one with 70 to 79 year-olds, and the one with the youngest population: the 10 to 19 year olds.</li>
              </ul>
            </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Conclusions for total number of trips by age
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <strong>What we could see in this graph was the following:</strong>
            <ul>
              <li> We can see that this graph has a normal distribution. </li>
              <li>As with the previous graph, most trips are concentrated in the age groups renging from 20 to 40.</li>
              <li>Most trips were made by people aged 30-31.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Recommendations
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <strong> The main problem we noticed is the lack of use of the Ecobici service by women in most age groups and also most riders are concentrated in two age groups. Because of this we recommend:</strong>
            <ul>
              <li>Promote Ecobici as a transport option for all ages and sexes.</li>
              <li>Research the reasons why people are using Ecobici as a way of transport (school, work, errands)</li>
              <li>Allow teenagers to get a bike with an adult (parents with membership or special "family" membership)</li>
              <li>Target women in next Ecobici campaigns.</li>
              <li>Discounts for people aged 60+.</li>
              <li>Improve bike and cycling road infrastructure to make it safer for everyone.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      </div>
      </div>


    <!--- Close container-->
  </div>
  
  <p><br><br></p>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/static/js/demographics.js"></script>

  <footer class="row">
    <div class="col justify-content-center">
        <p>Ecobici | Gobierno de la Ciudad de México (2021). Retrived from https://www.ecobici.cdmx.gob.mx/</p>  
    </div>
  </footer>
</body>

</html>